<html>

<head>
  <title>Institucion</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:coral">
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Institucion</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron" style="padding:40px;">
      <button onclick="ViewReport()">Ver Institucion</button>
      <div id="view">
      </div>
    </div>
  </div>
</body>

</html>
<script>
  function ViewReport() {
    alert('Informacion en Proceso.....');
    $.ajax({
      url: '/institucion/View',
      success: function (data) {
        console.log(data);
        var text="";
        text="<table class=\"table\">";
        text=text+"<tr>";
        text=text+"<th>Nombre";
        text=text+"</th>";
        text=text+"<th>Abreviacion";
        text=text+"</th>";
        text=text+"</tr>";
        console.log(data);
        var i=0;
        var size=data.data.length;
        for(Row in  data.data) {
          text=text+"<tr>";
          text=text+"<td>";
          text=text+data.data[i].abreviacion;
          text=text+"</td>";
          text=text+"<td>";
          text=text+data.data[i].nombreinstitucion;
          text=text+"</td>";
          text=text+"</tr>";
          i=i+1;
        }

        text=text+"</table>";

        $("#view").append(text);
      }
    });
  }

</script>